<div class="card containerCard">
    <div class="categoryContainer" [ngClass]="categoryBoxService.view">
        <div class="card-header" [ngClass]="categoryBoxService.view">
            <h4 class="mb-0 titleText" [ngbTooltip]="categoryBoxService.tooltip"> {{categoryBoxService.title}}</h4>
        </div>
        <div class="card-body itemsBox flex-grow-1" [formGroup]=itemsFormGroup [ngClass]="categoryBoxService.view">
            <div *ngFor="let item of categoryIDS">
                <app-category-item *ngIf="parent" (textChangedEvent)="updateItemText($event)" (itemStatusChangedEvent)="toogleItemStatus($event)" (focusOnEmptyInputEvent)="addBottomBox()" (focusOutOfEmptyInputEvent)="removeEmptyItems($event)" [categoryItem]="item" [parentCategory]="parent"
                    [formControlName]="item.id">
                </app-category-item>
            </div>
        </div>
    </div>
</div>