$product-view-color: rgb(212, 59, 59);
$project-view-color: rgb(50, 136, 29);
$paradigm-view-color: rgb(241, 197, 50);
$process-view-color: #369;
$product-view-color-transparant: rgba(212, 59, 59, 0.7);
$project-view-color-transparant: rgba(50, 136, 29, 0.7);
$paradigm-view-color-transparant: rgba(241, 197, 50, 0.7);
$process-view-color-transparant: rgba(51, 102, 153, 0.7);
.categoryContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.containerCard {
    height: 100%;
    width: 100%;
}

.card-body {
    width: 100%;
}

.modal-background {
    background-color: #4b4848 !important;
}

.image {
    width: 100%;
}

.singleItemCategory {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 20px;
}

.card-header {
    height: fit-content;
    padding: 7px;
    width: 100%;
}

.itemsRow {
    height: 70%;
}

.itemsCol {
    padding: 0px;
    overflow: auto;
    height: 80%;
    min-width: 100%;
    width: 100%;
}

.subContainer {
    padding: 0px;
}

.editButton.shouldUpdate {
    opacity: 1;
}

.editButton.shouldNotUpdate {
    opacity: 0.5;
}

.card-header.product {
    background-color: $product-view-color;
    border-color: $product-view-color;
}

.card-header.process {
    background-color: $process-view-color;
    border-color: $process-view-color;
}

.card-header.paradigm {
    background-color: $paradigm-view-color;
    border-color: $paradigm-view-color;
}

.card-header.project {
    background-color: $project-view-color;
    border-color: $project-view-color;
}

.exampleDisplay {
    height: 150px;
    overflow: auto;
}

.contentDisplay {
    height: 200px;
    overflow: auto;
}

.categoryContainer {
    height: fit-content;
}

.categoryBoxContainer.sameViewAsSelected.selectedCategory {
    width: 500px;
}

.categoryBoxContainer.sameViewAsSelected.notSelectedCategory {
    margin-left: 125px;
    width: 250px;
    margin-right: 125px;
}

.categoryBoxContainer.differentViewThanSelected.notSelectedCategory {
    width: 250px;
}

.categoryBoxContainer {
    margin: 5px;
}

.categoryContainer {
    width: 100%;
}

.reasonableContainer {
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

.categoryContainer.product.selectedCategory,
.categoryContainer.product.shouldUpdate {
    background-color: $product-view-color;
}

.categoryContainer.product.notSelectedCategory.shouldNotUpdate {
    background-color: $product-view-color-transparant;
}

.categoryContainer.process.selectedCategory,
.categoryContainer.process.shouldUpdate {
    background-color: $process-view-color;
}

.categoryContainer.process.notSelectedCategory.shouldNotUpdate {
    background-color: $process-view-color-transparant;
}

.categoryContainer.paradigm.selectedCategory,
.categoryContainer.paradigm.shouldUpdate {
    background-color: $paradigm-view-color;
}

.categoryContainer.paradigm.notSelectedCategory.shouldNotUpdate {
    background-color: $paradigm-view-color-transparant;
}

.categoryContainer.project.selectedCategory,
.categoryContainer.project.shouldUpdate {
    background-color: $project-view-color;
}

.categoryContainer.project.notSelectedCategory.shouldNotUpdate {
    background-color: $project-view-color-transparant;
}

.titleBox {
    height: fit-content;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.titleText {
    display: flex;
    font-size: 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
}

.titleText.selectedCategory {
    opacity: 1;
}

.titleText.notSelectedCategory.shouldNotUpdate {
    opacity: 0.7;
}

.titleText.notSelectedCategory.shouldUpdate {
    opacity: 1;
}

.itemsBox {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 0px;
    height: 100%;
}

.contentcol {
    height: inherit;
    background-color: lightblue;
    align-items: stretch;
    padding: 0px;
}

.listitem {
    width: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.compareBody {
    height: fit-content;
    width: fit-content;
}

.comparedBackground {
    height: fit-content;
    width: fit-content;
}

.modal-content {
    height: fit-content;
    width: fit-content;
}