<div class="contentContainer">
    <h1 *ngIf="navbarService.currentPageDetails">{{navbarService.currentPageDetails.title}}</h1>

    <div class="table-top">
        <div class="name" title={{ecologyIdeaTooltip}}>Ecology idea</div>
        <div class="value" title={{strengthTooltip}}>Strength</div>
        <div class="value" title={{weaknessTooltip}}>Weakness</div>
        <div class="value" title={{oppotunityTooltip}}>Oppotunity</div>
        <div class="value" title={{threatTooltip}}>Threat</div>
        <div class="value" title={{totalTooltip}}>Total</div>
        <div class="value" title={{selectTooltip}}>Select</div>
    </div>
    <div *ngFor="let ecologyObject of categoryBoxService.categoryIDS">
        <app-swotitem (valueChangedEvent)="categoryBoxService.updateItem($event)" [ecologyItem]="ecologyObject"></app-swotitem>
    </div>
    <app-next-activity></app-next-activity>
</div>