h1 {
    color: white;
}

.beginButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
}

.finish {
    background-color: green;
}

mat-icon {
    font-size: 20px;
    display: block;
    width: fit-content;
    height: fit-content;
}

app-category-box {
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1;
    height: 250px;
    flex: 1;
}

.contentContainer {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}

h1 {
    color: white;
}

.categoryRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-style: solid;
    border: 2px;
    height: fit-content;
    width: inherit;
    border-color: rgb(32, 36, 47);
}