<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="project$ | async as project" id="modal-basic-title">
            Are you sure you want to delete "{{project.projectName}}"?
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
  
            <span aria-hidden="true"> 
                × 
            </span> 
        </button>
    </div>
    <div class="modal-body">
        <button class="modal-button" (click)="modal.close('Yes')">
            Yes
        </button>
        <button class="modal-button" (click)="modal.close('No')">
            No
        </button>
    </div>
</ng-template>
<div class="card projectItem" *ngIf="project$ | async as project">
    <a class="projectButton" (click)="updateToLocalStorage()">
        <div class="card-body">
            <h5 class="card-title cardText">
                {{(project.projectName) ? project.projectName : 'No name available'}}
            </h5>
        </div>
    </a>

    <button (click)="deleteProject(content)" class="deletebutton">
        <div class="deletebuttonContainer">
            <mat-icon>delete</mat-icon>
        </div>
    </button>

</div>