<div class="contentContainer">
    <h1 *ngIf="navbarService.currentPageDetails">{{navbarService.currentPageDetails.title}}</h1>
    <div class="table-top">
        <div class="name" title={{leveragePointIdeaTooltip}}>Leverage point idea</div>
        <div class="value" title={{powerTooltip}}>Power</div>
        <div class="value" title={{costTooltip}}>Cost</div>
        <div class="value" title={{riskTooltip}}>Risk</div>
        <div class="value" title={{timeTooltip}}>Time</div>
        <div class="value" title={{totalTooltip}}>Total</div>
        <div class="value" title={{selectTooltip}}>Select</div>
    </div>
    <div *ngFor="let leveragePoint of categoryBoxService.categoryIDS">
        <app-pcrtitem (valueChangedEvent)="categoryBoxService.updateItem($event)" [leverageItem]="leveragePoint"></app-pcrtitem>
    </div>
    <app-next-activity></app-next-activity>
</div>