<h5 class="subcategory" *ngIf="subCategory$ | async as subcat" [ngbTooltip]="subcat.tooltip">{{subcat.displayTitle}}</h5>

<div class="input-group" id="inputGroup">
    <textarea [appCategoryItem]="id" (input)="updateItemText($event) " matInput (focus)="addBox($event) " (focusout)="deleteBox($event) " class="textInput " value={{text}} [ngClass]="[categoryItem.getStatus()] "></textarea>
    <div *ngIf="(!categoryItem.localOnly) && (categoryHelp.isConnectable(id.parentCategory))">

        <button [title]="connectTooltip" [appConnectButton]="id">
            <mat-icon>
                arrow_right_alt
            </mat-icon>
        </button>
    </div>
</div>