h1 {
    color: white;
}

.categoryRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-style: solid;
    border: 2px;
    height: fit-content;
    width: inherit;
    border-color: rgb(32, 36, 47);
}