<div class="contentContainer">
    <h1 *ngIf="navbarService.currentPageDetails">{{navbarService.currentPageDetails.title}}</h1>
    <div class="contentColumn">
        <div class="contentRow representationWindow" *ngIf="selectedProspect">
            <div class="contentColumn">
                <div class="contentColumn representationBox">
                    <div class="contentRow">
                        <h2>Proposition</h2> -
                        <h4>: {{selectedProspect.proposition}}</h4>
                    </div>
                    <div class="contentRow">
                        <app-category-box *ngIf="problematic$ | async as problematic" class="categoryBox" [appAutoGrow]="problematic.id" [category]="problematic" [singleItemCategory]="true"></app-category-box>
                        <app-category-box *ngIf="leverage$ | async as leverage" class="categoryBox" [appAutoGrow]="leverage.id" [category]="leverage"></app-category-box>
                        <app-category-box *ngIf="resolution$ | async as resolution" class="categoryBox" [appAutoGrow]="resolution.id" [category]="resolution" [singleItemCategory]="true"></app-category-box>
                    </div>
                </div>
                <div class="contentColumn representationBox">
                    <div class="contentRow">
                        <h2>Metaphor</h2>
                        <h4>: {{selectedProspect.metaphor}}</h4>
                    </div>
                    <div class="contentRow">
                        <app-category-box *ngIf="element$ | async as element" class="categoryBox" [appAutoGrow]="element.id" [category]="element"></app-category-box>
                        <app-category-box *ngIf="architecture$ | async as architecture" class="categoryBox" [appAutoGrow]="architecture.id" [category]="architecture"></app-category-box>
                        <app-category-box *ngIf="qualification$ | async as qualification" class="categoryBox" [appAutoGrow]="qualification.id" [singleItemCategory]="true" [category]="qualification"></app-category-box>
                    </div>
                </div>
                <div class="contentColumn representationBox">
                    <div class="contentRow">
                        <h2>Prototype</h2>
                        <h4>: {{selectedProspect.prototype}}</h4>
                    </div>
                    <div class="contentRow">
                        <app-category-box *ngIf="scenario$ | async as scenario" class="categoryBox" [appAutoGrow]="scenario.id" [category]="scenario"></app-category-box>
                        <app-category-box *ngIf="feature$ | async as feature" class="categoryBox" [appAutoGrow]="feature.id" [category]="feature"></app-category-box>
                        <app-category-box *ngIf="valueproposition$ | async as valueproposition" class="categoryBox" [appAutoGrow]="valueproposition.id" [category]="valueproposition"></app-category-box>
                    </div>
                </div>
            </div>
            <div class="contentColumn representationBox verticalCategoryBox" *ngIf="selectedProspect">
                <div class="contentRow">
                    <h2>Icon</h2>
                    <h4>: {{selectedProspect.icon}}</h4>
                </div>
                <app-category-box *ngIf="rationale$ | async as rationale" class="categoryBox" [appAutoGrow]="rationale.id" [category]="rationale"></app-category-box>
                <app-category-box *ngIf="strategy$ | async as strategy" class="categoryBox" [appAutoGrow]="strategy.id" [category]="strategy"></app-category-box>
                <app-category-box *ngIf="tactic$ | async as tactic" class="categoryBox" [appAutoGrow]="tactic.id" [category]="tactic"></app-category-box>
            </div>
            <div *ngIf="!selectedProspect">
                <h1>You have to select a prospect scenario</h1>
            </div>
        </div>
        <app-next-activity></app-next-activity>
    </div>