<div id="contentContainer diagram  " class="contentContainer">
    <h1>Project understanding at current time</h1>
    <div class="categoryRow">
        <app-category-box *ngIf="problematic$ | async as problematic" class="categoryBox" [appAutoGrow]="problematic.id" [category]="problematic" [singleItemCategory]="true"></app-category-box>
        <app-category-box *ngIf="leverage$ | async as leverage" class="categoryBox" [appAutoGrow]="leverage.id" [category]="leverage"></app-category-box>
        <app-category-box *ngIf="resolution$ | async as resolution" class="categoryBox" [appAutoGrow]="resolution.id" [category]="resolution" [singleItemCategory]="true"></app-category-box>
        <app-category-box *ngIf="rationale$ | async as rationale" class="categoryBox" [appAutoGrow]="rationale.id" [category]="rationale"></app-category-box>
    </div>
    <div class="categoryRow">
        <app-category-box *ngIf="element$ | async as element" class="categoryBox" [appAutoGrow]="element.id" [category]="element"></app-category-box>
        <app-category-box *ngIf="architecture$ | async as architecture" class="categoryBox" [appAutoGrow]="architecture.id" [category]="architecture"></app-category-box>
        <app-category-box *ngIf="qualification$ | async as qualification" class="categoryBox" [appAutoGrow]="qualification.id" [singleItemCategory]="true" [category]="qualification"></app-category-box>
        <app-category-box *ngIf="strategy$ | async as strategy" class="categoryBox" [appAutoGrow]="strategy.id" [category]="strategy"></app-category-box>

    </div>
    <div class="categoryRow">
        <app-category-box *ngIf="scenario$ | async as scenario" class="categoryBox" [appAutoGrow]="scenario.id" [category]="scenario"></app-category-box>
        <app-category-box *ngIf="feature$ | async as feature" class="categoryBox" [appAutoGrow]="feature.id" [category]="feature"></app-category-box>
        <app-category-box *ngIf="valueproposition$ | async as valueproposition" class="categoryBox" [appAutoGrow]="valueproposition.id" [category]="valueproposition"></app-category-box>
        <app-category-box *ngIf="tactic$ | async as tactic" class="categoryBox" [appAutoGrow]="tactic.id" [category]="tactic"></app-category-box>

    </div>
</div>
<!--<div class="container categoryContainer">
    <div class="row outerRow">
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="rationale"></app-category-box>
        </div>
        <div class="col-sm-3">
            <div class="container sharedContainer" height="inherit">
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="challenge" [singleItemCategory]="true"></app-category-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="problem" [singleItemCategory]="true"></app-category-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 shared1">
            <app-category-box [category]="leverage"></app-category-box>
        </div>
        <div class="col-sm-3">
            <div class="container sharedContainer" height="inherit">
                <div class="row">
                    <div class="col-sm-12 shared3">
                        <app-category-box [category]="prospect" [singleItemCategory]="true"></app-category-box>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-sm-12 shared3 ">
                        <app-category-box [category]="warrant "></app-category-box>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 shared3 ">
                        <app-category-box [category]="backing"></app-category-box>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row outerRow ">
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="strategy"></app-category-box>
        </div>
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="element "></app-category-box>
        </div>
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="architecture"></app-category-box>
        </div>
        <div class="col-sm-3 ">
            <div class="container sharedContainer " height="inherit ">
                <div class="row ">
                    <div class="col-sm-12 shared2 ">
                        <app-category-box [category]="qualifier "></app-category-box>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 shared2 ">
                        <app-category-box [category]="rebuttal"></app-category-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row outerRow ">
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="tactic "></app-category-box>
        </div>
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="scenario"></app-category-box>
        </div>
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="feature"></app-category-box>
        </div>
        <div class="col-sm-3 shared1 ">
            <app-category-box [category]="valueproposition"></app-category-box>
        </div>
    </div>
    Buffer added to make bottom look better
    <div class="buffer row"></div>
</div>
-->