.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.buffer {
    width: 30px;
    flex: 0;
    flex-grow: 0;
}

.buffer1 {
    height: 30px;
}

h1 {
    color: white!important;
}

.content {
    flex-grow: 0;
}