<h1>ESSENCE homepage</h1>

<label>Subscriber 1</label><br>
<span>Value: {{subscriberOneValue}}</span><br>
<span>Divisible By Three: {{isSubscriberOneDivisible ? 'Yes': 'No'}}</span><br><br>
<button (click)="subscribe()">Subscribe</button>
<button (click)="unsubscribe()">Unsubscribe</button>

<label>Subscriber 2</label><br>
<span>Value: {{subscriberTwoValue}}</span><br>
<span>Divisible By Three: {{isSubscriberTwoDivisible ? 'Yes': 'No'}}</span><br><br>
<button (click)="subscribe2()">Subscribe</button>
<button (click)="unsubscribe2()">Unsubscribe</button>
<button (click)="add()">add</button>