.item {
    margin: 1px;
}

.card {
    height: 100%;
    width: 100%;
}

.itemText {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.inactive {
    font-style: italic;
}

.header {
    margin: 5px;
    margin-left: 10px;
    padding: 0px;
}

.subCategory {
    color: white;
}

.title {
    color: white;
    margin: 1px;
}

.body {
    padding: 0px;
    margin: 10px;
}

$product-view-color: rgb(212, 59, 59);
$project-view-color: rgb(50, 136, 29);
$paradigm-view-color: rgb(241, 197, 50);
$process-view-color: #369;
.paradigm {
    background-color: $paradigm-view-color;
}

.process {
    background-color: $process-view-color;
}

.project {
    background-color: $project-view-color;
}

.product {
    background-color: $product-view-color;
}