<div id="printPage">
    <div class="categoryRow">
        <app-print-category class="long" category="problematic"></app-print-category>
        <app-print-category class="long" category="leverage"></app-print-category>
        <app-print-category class="long" category="resolution"></app-print-category>
        <app-print-category class="short" category="rationale"></app-print-category>
    </div>
    <div class="categoryRow">
        <app-print-category class="long" category="ecology"></app-print-category>
        <app-print-category class="long" category="architecture"></app-print-category>
        <app-print-category class="long" category="qualification"></app-print-category>
        <app-print-category class="short" category="strategy"></app-print-category>

    </div>
    <div class="categoryRow">
        <app-print-category class="long" category="scenario"></app-print-category>
        <app-print-category class="long" category="feature"></app-print-category>
        <app-print-category class="long" category="valueproposition"></app-print-category>
        <app-print-category class="short" category="tactic"></app-print-category>
    </div>
</div>