.categoryRow {
    display: flex;
    flex-direction: row;
}

.printPage {
    width: fit-content;
}

app-print-category {
    width: fit-content;
    flex-grow: 1;
}

.long {
    width: 240px;
}

.short {
    width: 150px;
}