<div class="printPage" id="printPage">
    <div class="categoryRow">
        <app-print-category class="long" category="problem"></app-print-category>
        <app-print-category class="long" category="leverage"></app-print-category>
        <app-print-category class="long" category="solution"></app-print-category>
        <app-print-category class="short" category="rationale"></app-print-category>
    </div>
    <div class="categoryRow">
        <app-print-category class="long" category="outerEnvironment"></app-print-category>
        <app-print-category class="long" category="innerEnvironment"></app-print-category>
        <app-print-category class="long" category="scope"></app-print-category>
        <app-print-category class="short" category="strategy"></app-print-category>

    </div>
    <div class="categoryRow">
        <app-print-category class="long" category="scenarios"></app-print-category>
        <app-print-category class="long" category="features"></app-print-category>
        <app-print-category class="long" category="valuePropositions"></app-print-category>
        <app-print-category class="short" category="tactic"></app-print-category>
    </div>
</div>