h1 {
    color: white;
}
.beginButton {
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 150px;
    text-align: center;
}

mat-icon {
    font-size: 100px;
    display: block;
    width: fit-content;
    height: fit-content;
}