$paradigm-view-color: rgb(241, 197, 50);
.contentContainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}

.modal-title {
    color: black;
}

h3 {
    color: white;
}

a>* {
    color: white;
}

.challengeBox {
    border-color: $paradigm-view-color;
    border-style: solid;
    border-width: 5px;
    background-color: transparent;
    width: 400px;
    height: 250px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.challengeContent {
    width: 300px;
    background-color: transparent;
    color: $paradigm-view-color;
    border-color: transparent;
}

mat-icon {
    color: white;
    height: inherit;
    width: 50px;
}

.tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.helpButton {
    color: transparent;
    background-color: transparent;
    height: fit-content;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.errors {
    padding-top: 10px;
}

.challengeBody {
    height: 100px;
    width: 300px;
}

.challengeHeader {
    border: 5px;
    flex-direction: row;
    display: flex;
}

h4 {
    color: white;
}