<ng-template #content let-modal>
    <div *ngIf="challengeInfo$ | async as challengeInfo">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{challengeInfo.displayTitle}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
  
            <span aria-hidden="true"> 
                × 
            </span> 
        </button>
        </div>
        <div class="modal-body">
            <div id="scroll" [innerHTML]="challengeInfo.description"></div>
        </div>
    </div>
</ng-template>
<div *ngIf="formGroup" [formGroup]="formGroup" id="contentContainer" class="contentContainer">
    <h3></h3>
    <div class="tutorial">
        <mat-icon aria-hidden="false">arrow_backward</mat-icon>
        <h3>{{description[i]}}</h3>
        <mat-icon aria-hidden="false">arrow_forward</mat-icon>
    </div>
    <div class="challengeHeader">
        <h4>The challenge for this project is:</h4>
        <div class="example-button-container">
            <button class="helpButton" (click)="displayHelp(content)" mat-button aria-label="Example icon button with a heart icon">
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </div>
    <input id="chal" formControlName="challenge" class="challengeContent" placeholder="What is the overall challenge for this project?" (input)="categoryService.updateChallenge(challenge.value)">
    <div class="challengeBox">
    </div>
    <div class="errors" *ngIf="challenge.invalid">
        <div *ngIf="challenge.errors.minlength">
            <h4>{{minLengthErrorMessage}}</h4>
        </div>
        <div *ngIf="challenge.errors.required">
            <h4>{{requiredErrorMessage}}</h4>
        </div>
    </div>
    <app-next-activity *ngIf="challenge.valid"></app-next-activity>
</div>