<div class="container">
    <div class="row outerRow">
        <div class="col-sm-4">
            <div class="container sharedContainer" height="inherit">
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="challenge" [boxView]="paradigmView" [title]="challengeTitle" [singleItemCategory]="true" [items]="challengeItems"></app-category-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="problem" [boxView]="paradigmView" [singleItemCategory]="true" [title]="problemTitle" [items]="problemItems"></app-category-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 shared1">
            <app-category-box [category]="leverage" [categoryRef]="leverageCategoryRef" [boxView]="productView" [title]="leverageTitle" [items]="leverageItems"></app-category-box>
        </div>
        <div class="col-sm-4">
            <div class="container sharedContainer" height="inherit">
                <div class="row">
                    <div class="col-sm-12 shared3">
                        <app-category-box [category]="prospect" [boxView]="projectView" [title]="prospectTitle" [singleItemCategory]="true" [items]="prospectItems"></app-category-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 shared3">
                        <app-category-box [category]="warrant" [boxView]="projectView" [title]="warrantTitle" [items]="warrantItems"></app-category-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 shared3">
                        <app-category-box [category]="backing" [boxView]="projectView" [title]="backingTitle" [items]="backingItems"></app-category-box>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row outerRow">
        <div class="col-sm-4 shared1">
            <app-category-box [category]="element" [boxView]="paradigmView" [title]="elementsTitle" [items]="elementsItems"></app-category-box>
        </div>
        <div class="col-sm-4 shared1">
            <app-category-box [category]="architecture" [boxView]="productView" [title]="architectureTitle" [items]="architectureItems"></app-category-box>
        </div>
        <div class="col-sm-4">
            <div class="container sharedContainer" height="inherit">
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="qualifier" [boxView]="projectView" [title]="qualifierTitle" [items]="qualifierItems"></app-category-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 shared2">
                        <app-category-box [category]="rebuttal" [boxView]="projectView" [title]="rebuttalTitle" [items]="rebuttalItems"></app-category-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row outerRow">
        <div class="col-sm-4 shared1">
            <app-category-box [category]="scenario" [boxView]="paradigmView" [title]="scenariosTitle" [items]="scenariosItems"></app-category-box>
        </div>
        <div class="col-sm-4 shared1">
            <app-category-box [category]="feature" [boxView]="productView" [title]="featuresTitle" [items]="featuresItems"></app-category-box>
        </div>
        <div class="col-sm-4 shared1">
            <app-category-box [category]="valueproposition" [boxView]="projectView" [title]="valuePropositionsTitle" [items]="valuePropositionsItems"></app-category-box>
        </div>



    </div>
</div>