p {
    font-family: Lato;
}

.mqInfo {
    padding-left: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.mqInfo>span {
    padding-left: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.8em;
}

.mqInfo>span::before {
    content: attr(title) ": ";
}

app-category-box {
    height: inherit;
    width: inherit;
    padding: 10px;
}

// Defines the height of a column by how many categories are shared in this row
.shared1 {
    height: 300px;
}

.categoryBox {
    flex-grow: 3;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 3;
    max-width: 1000px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.categoryRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    height: inherit;
    border-style: solid;
    border: 2px;
    height: 300px;
    border-color: rgb(32, 36, 47);
}

.buffer {
    height: 30px;
}

.buffer1 {
    width: 30px;
    flex: 0;
    flex-grow: 0;
}

.shared1,
.shared2,
.shared3 {
    margin-top: 10px;
    padding-left: 10px;
}

.shared2 {
    height: 150px;
}

.shared3 {
    height: 100px;
}

.sharedContainer {
    width: 100%;
    padding: 0px;
}

.outerRow {
    align-items: stretch;
    padding: 0px;
}