$product-view-color: rgb(212, 59, 59);
$project-view-color: rgb(50, 136, 29);
$paradigm-view-color: rgb(241, 197, 50);
$process-view-color: #369;
.categoryContainer {
    justify-content: center;
    height: 100%;
    background-color: rgb(241, 241, 241);
    width: 100%;
}

.card-body {
    border-style: solid;
    border: 2px;
}

h2 {
    font-size: 20px;
}

.card-header {
    height: fit-content;
    padding: 7px;
}

.itemsRow {
    height: 70%;
}

.itemsCol {
    padding: 0px;
    overflow: auto;
    height: 80%;
    min-width: 100%;
    width: 100%;
}

.subContainer {
    padding: 0px;
}

.card-header.product {
    background-color: $product-view-color;
    border-color: $product-view-color;
}

.categoryContainer.product {
    background-color: $product-view-color;
}

.card-header.process {
    background-color: $process-view-color;
    border-color: $process-view-color;
}

.categoryContainer.process {
    background-color: $process-view-color;
}

.card-header.paradigm {
    background-color: $paradigm-view-color;
    border-color: $paradigm-view-color;
}

.categoryContainer.paradigm {
    background-color: $paradigm-view-color;
}

.card-header.project {
    background-color: $project-view-color;
    border-color: $project-view-color;
}

.categoryContainer.project {
    background-color: $project-view-color;
}

.titleBox {
    height: fit-content;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.titleText {
    display: flex;
    font-size: 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
}

.itemsBox {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 0px;
}

.contentcol {
    height: inherit;
    background-color: lightblue;
    align-items: stretch;
    padding: 0px;
}

.listitem {
    width: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}