<div  class="card  categoryContainer" *ngIf="category$ | async as category" [formGroup]="categoryFormGroup" [ngClass]="category.view">
    <div class="card-header" [ngClass]="category.view">
        <h4 class="mb-0 titleText"> {{category.displayTitle}}</h4>
    </div>
    <div class="card-body itemsBox flex-grow-1" [formGroup]=itemsFormGroup [ngClass]="category.view">
        <div *ngFor="let item of categoryIDS">
            <app-category-item (change)="onItemChanged($event, item)" (focusout)="clickOutsideFunction($event, item)" (focusin)="clickFunction($event)" [formControlName]="item.id"> </app-category-item>
        </div>
    </div>
</div>