<div class="categoryContainer" [ngClass]="view" [formGroup]="categoryFormGroup">
    <div class="row titleBox">
        <div class="titleBox">
            <h1 class="titleText">{{title}}</h1>
        </div>
    </div>
    <div class="itemsBox flex-grow-1" formArrayName="categoryItems">
        <div *ngFor="let item of categoryItems.controls; let i=index">
            <app-category-item (focusout)="clickOutsideFunction($event)" (click)="clickFunction($event)" [formControlName]="i"> </app-category-item>
        </div>
    </div>
</div>