$product-view-color: rgb(179, 24, 24);
$project-view-color: rgb(51, 146, 27);
$paradigm-view-color: rgb(216, 190, 40);
$process-view-color: #369;
.categoryContainer {
    border: 5px;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    justify-content: center;
    height: 100%;
    background-color: rgb(241, 240, 240);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h2 {
    font-size: 20px;
}

.itemsRow {
    height: 70%;
}

.itemsCol {
    padding: 0px;
    overflow: auto;
    height: 80%;
    min-width: 100%;
    width: 100%;
}

.subContainer {
    padding: 0px;
}

.product {
    border-color: $product-view-color;
}

.process {
    border-color: $process-view-color;
}

.paradigm {
    border-color: $paradigm-view-color;
}

.project {
    border-color: $project-view-color;
}

.titleBox {
    height: fit-content;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.titleText {
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin: 0px;
}

.itemsBox {
    overflow: auto;
    margin-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.contentcol {
    height: inherit;
    background-color: lightblue;
    align-items: stretch;
    padding: 0px;
}

.listitem {
    width: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}