<div class="contentContainer">
    <h1>PCRT analasis of {{category}}</h1>
    <div class="table-top">
        <div class="name" title={{leveragePointIdeaTooltip}}>Item idea</div>
        <div class="value" title={{powerTooltip}}>Power</div>
        <div class="value" title={{costTooltip}}>Cost</div>
        <div class="value" title={{riskTooltip}}>Risk</div>
        <div class="value" title={{timeTooltip}}>Time</div>
        <div class="value" title={{totalTooltip}}>Total</div>
        <div class="value" title={{selectTooltip}}>Select</div>
    </div>
    <div *ngFor="let item of categoryBoxService.categoryIDS">
        <app-pcrtitem (valueChangedEvent)="categoryBoxService.updateItem($event)" [leverageItem]="item"></app-pcrtitem>
    </div>
</div>