.containerRow {
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contentColumn {
    display: flex;
    flex-direction: column;
}

.reasonableContainer {
    margin: 10px;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.reasonableText {}

.reasonableButton {}

.reasonableIcon {}