<div class="contentContainer">

    <div class="containerRow">
        <app-category-box class="categoryBox" category="scenarios"></app-category-box>
        <app-category-box class="categoryBox" category="features"></app-category-box>
        <app-category-box class="categoryBox" category="valuePropositions"></app-category-box>
        <app-category-box class="categoryBox" category="tactic"></app-category-box>
    </div>
    <div class="containerRow">
        <app-category-box class="categoryBox" category="outerEnvironment"></app-category-box>
        <app-category-box class="categoryBox" category="innerEnvironment"></app-category-box>
        <app-category-box class="categoryBox" category="scope"></app-category-box>
        <app-category-box class="categoryBox" category="strategy"></app-category-box>
    </div>
    <div class="containerRow">
        <app-category-box class="categoryBox" category="problem"></app-category-box>
        <app-category-box class="categoryBox" category="leverage"></app-category-box>
        <app-category-box class="categoryBox" category="solution"></app-category-box>
        <app-category-box class="categoryBox" category="rationale"></app-category-box>

    </div>

    <div *ngIf="isInitialKnowledge" class="containerRow">
        <a class="nav-link waves-light" (click)="GoToSelect()" *ngIf="categoryUpdateService.selectedView != 'none'" mdbWavesEffect>
            <mat-icon aria-hidden="false">arrow_backward</mat-icon>
            <h5>Select different starting point</h5>
        </a>
        <a class="nav-link waves-light" (click)="UpdateStage()" *ngIf="categoryUpdateService.selectedView != 'none'" mdbWavesEffect>
            <mat-icon aria-hidden="false">check_circle</mat-icon>
            <h5>Accept initial configuration</h5>
        </a>
    </div>

</div>