.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

label {
    font-weight: 400;
    color: white;
    width: 130px;
}

.input {
    width: 100%;
}

.representationBox {
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    overflow: auto;
}

.selected {
    background-color: gray;
    border-color: white;
}

.notSelected {
    background-color: gray;
}