<div class="contentContainer">
    <h1 *ngIf="navbarService.currentPageDetails">{{navbarService.currentPageDetails.title}}</h1>
    <div class="categoryRow">
        <app-category-box *ngIf="comments$ | async as comments" class="categoryBox" [category]="comments"></app-category-box>
    </div>
    <div class="example-button-container">
        <button (click)="generateCriteria()" mat-fab class="finish beginButton">
          <mat-icon class="icon">done</mat-icon>
        </button>
    </div>
</div>