/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* to format valid/invalid inputs */

$product-view-color: rgb(212, 59, 59);
$project-view-color: rgb(50, 136, 29);
$paradigm-view-color: rgb(241, 197, 50);
$process-view-color: #369;
.paradigm {
    background-color: $paradigm-view-color;
}

.process {
    background-color: $process-view-color;
}

.project {
    background-color: $project-view-color;
}

.product {
    background-color: $product-view-color;
}

.containerRow {
    display: flex;
    flex-direction: row;
}

.containerColumn {
    display: flex;
    flex-direction: column;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(219, 218, 218);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

h1.page-header {
    color: #565e54;
    font-size: 2em;
    margin-bottom: 10px;
}

:root {
    --primary-color: #fff; // white
    --background-color: #e5e5e5; // light grey
    --text-color: #ffffff; // dark grey
    --product-view-color: rgb(212, 59, 59);
    --project-view-color: rgb(50, 136, 29);
    --paradigm-view-color: rgb(241, 197, 50);
    --process-view-color: #369;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: rgb(32, 36, 47)!important;
    color: white!important;
}

.backdrop {
    background-color: rgb(150, 150, 150)!important;
    opacity: 0.1;
}

mat-dialog-container {
    background-color: rgb(53, 57, 68)!important;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
$product-view-color: rgb(212, 59, 59);
$project-view-color: rgb(50, 136, 29);
$paradigm-view-color: rgb(241, 197, 50);
$process-view-color: #369;
.contentContainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}