<div class="contentContainer">
    <h1 *ngIf="navbarService.currentPageDetails">{{navbarService.currentPageDetails.title}}</h1>

    <div class="categoryRow">
        <div class="categoryColumn">
            <input title={{problemTooltip}} placeholder="Enter problem scenario" class=" problemTitle " (input)="updateAxis($event) " id="HorizontalProblemStart" value={{HorizontalProblemStart}}>
            <input title={{solutionTooltip}} placeholder="Enter solution scenario " class="solutionTitle " (input)="updateAxis($event) " id="HorizontalSolutionStart" value={{HorizontalSolutionStart}}>
        </div>
        <div class="horizontalAxis"></div>
        <div class="categoryColumn">
            <input title={{problemTooltip}} placeholder="Enter problem scenario" class="problemTitle" (input)="updateAxis($event)" id="verticalProblemStart" value={{verticalProblemStart}}>
            <input title={{solutionTooltip}} placeholder="Enter solution scenario" class=" solutionTitle" (input)="updateAxis($event)" id="verticalSolutionStart" value={{verticalSolutionStart}}>
            <div class="verticalPadding"></div>
            <div class="verticalAxis"></div>
            <div class="problemContainer selectedContainer ">
                <h4 class="title ">Selected problem:</h4>
                <p class="text ">{{problem}}</p>
            </div>
            <div class="verticalAxis"></div>
            <div class="verticalPadding"></div>
            <input class="problemTitle" (input)="updateAxis($event)" value={{verticalProblemEnd}} placeholder="Enter problem scenario" id="verticalProblemEnd" title={{problemTooltip}}>
            <input class="solutionTitle
            " (input)="updateAxis($event) " id="verticalSolutionEnd" value={{verticalSolutionEnd}} placeholder="Enter solution scenario " title={{solutionTooltip}}>
        </div>
        <div class="horizontalAxis"></div>
        <div class="categoryColumn">
            <input title={{problemTooltip}} class="problemTitle
            " (input)="updateAxis($event) " id="HorizontalProblemEnd" value={{HorizontalProblemEnd}} placeholder="Enter problem scenario ">
            <input class="solutionTitle " (input)="updateAxis($event) " id="HorizontalSolutionEnd" value={{HorizontalSolutionEnd}} placeholder="Enter solution scenario " title={{solutionTooltip}}>
        </div>
    </div>
    <app-next-activity></app-next-activity>
</div>