<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>

<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<mat-form-field>
    <mat-label>Task type</mat-label>
    <mat-select [(ngModel)]="data.task.type">
        <mat-option *ngFor="let option of selectOptions" [value]="option.name">
            {{option.text}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="data.task.type === 'feature'">
    <mat-label>Select connected feature</mat-label>
    <mat-select [(ngModel)]="data.task.connectedFeature">
        <mat-option *ngFor="let option of kanbanService.activeFeatures" [value]="option.id">
            {{option.text}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete" [mat-dialog-close]="{ task: data.task, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>